@page "/instruments/refresh"

<div class="d-flex flex-column">
    <MudText>Last Updated: @_lut</MudText>

    <MudButton Disabled="@_processing" OnClick="Process" Variant="Variant.Filled" Color="Color.Primary">
        @if (_processing)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
            <MudText Class="ms-2">Processing</MudText>
        }
        else
        {
            <MudText>Refresh</MudText>
        }
    </MudButton>
    <MudText Class="mt-4">@_text</MudText>
</div>